@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="my-4 text-center">
        <h1 class="my-3">Angajamentul nostru pentru ingrijire medicala de calitate</h1>
        <p class="mt-1 mb-0">
            <i>Suntem aici cand aveti nevoie de noi!</i>
        </p>
        <p class="mt-0 mb-5">
            <i>Zi de zi puteti conta pe noi pentru a recastiga si mentine o viata sanatoasa pentru dumneavoastra si cei dragi.</i>
        </p>
    </div>

    <div class="row bg-dark p-4">
        <div class="col col-12 col-lg-6">
            <img src="~/images/healthcare.jpg" class="mx-auto" width="100%" max-width="600" />
        </div>
        <div class="col col-12 col-lg-6 text-light my-3 my-lg-0">
            <p class="m-0"> De ce sa ne alegeti pe noi?</p>
            <h2 class="text-warning">Echipa noastră este formată din peste 130 de medici specialiști</h2>
            <p>Suntem la dispoziția dumneavoastră pentru a vă evalua starea de sănătate și a vă oferi prompt un plan de acțiune și tratament, cu aparatura de ultima generatie General Electric, Atmos, Karl Storz, Maquet, Getinge Group, Schiller, etc.</p>
            <div class="row">
                <div class="col">
                    <p>✓ Medici primari</p>
                </div>
                <div class="col">
                    <p>✓ Medici specialisti</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>✓ RMN, CT</p>
                </div>
                <div class="col">
                    <p>✓ 18 Ecografe, Mamograf 3D etc.</p>
                </div>
            </div>
            <div class="row mt-4">
                <p>
                    Vezi <a href="/Servicii/Index" class="link-warning">aici</a> serviciile noastre!
                </p>
            </div>

        </div>
    </div>
</div>